.notFoundContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 80vh;
    color: rgb(68, 68, 68);
}

.notFoundContainer h1{
    font-size: 50px;
}

